/* 设置默认字体和颜色 */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #444;
  background-color: #f9f9f9;
}

/* 隐藏所有object的滚动条 */
object[type="text/x-scriptlet"] {
  overflow: hidden;
}

/* 设置每个object之间的间距 */
.content {
  margin-bottom: 40px;
}

/* 设置每个组标题的样式 */
.group-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* 设置object中内容的样式 */
.content p {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

/* 设置链接的样式 */
a {
  color: #0072c6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
